.make-tidy {
	background: $tidy;
}

.make-incarceration {
	background: $incarceration;
}

.make-flappy {
	background: $flappy;
}

.make-red--bg {
	background: $color-second;
}

.make-red {
	color: $color-second;
}

.hover {
	color: #999;
	font-weight: 200;
	text-align: center;
}

.hover:hover .head, .hover:focus .head { color: $color-second; transition: color .4s; }

.hover-incarceration:hover, .hover-incarceration:focus {
	color: #007F90;
	transition: color .4s;
	> img { border-color: #007F90; transition: border-color .4s; }
}

.hover-tidy:hover, .hover-tidy:focus {
	color: #e5a379;
	transition: color .4s;
	> img { border-color: #e5a379; transition: border-color .4s; }
}

.hover-flappy:hover, .hover-flappy:focus {
	color: #5cc5e6;
	transition: color .4s;
	> img { border-color: #5cc5e6; transition: border-color .4s; }
}

.hover-red:hover, .hover-red:focus {
	color: #e35d65;
	transition: color .4s;
	> img { border-color: #eee; transition: border-color .4s; }
}

a h1 {
	color: #333;
}