.relative { position: relative; }

.is-vishidden { display: none !important; }

.is-hidden { opacity: 0; }

.text-center { text-align: center; }

.text-right { text-align: right; }

.center { margin-left: auto; margin-right: auto; display: block; }

.push-top { margin-top: 2em; }

.push-bottom { margin-bottom: 1.5em; }

.push-bottom--half { margin-bottom: .5em; }

.push-right { margin-right: 1em; }

.flush { margin-bottom: 0; }

.fl-left { float: left; }

.fl-right { float: right; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}