.imgBorder {
	border: 2px solid #fff;
}

.contact-photo {
	max-height: 17em;
	float: right;
}

figcaption {
	font-size: .8em;
	text-align: center;
	font-style: italic;
	font-weight: 500;
	color: #777;
}

.persist-area img {
	display: block;
	margin: 0 auto;
}