.zoom-image {
  transition: all .3s ease-in-out;
  display: block;
}

.zoom-container:hover .zoom-image {
@include respond-to(hover) { 
  -webkit-transform: scale(10);
  opacity: 0;

  }
}

.zoom-container:hover .zoom-info {
    @include respond-to(hover) { 
  opacity: 1;
  transition: opacity .3s;
}
}

.zoom-container {
  @include respond-to(hover) { 
  overflow: hidden;
  display: inline-block;
  position: relative;
  -webkit-backface-visibility: hidden;
  transition: all 1s;
}
}

#lightbox {
  visibility: hidden;
  position: absolute;
  padding-top: 10px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 0;
  height: 0;

  img { opacity: 1; }

  p { line-height: 1.5; }
}

#lightbox.closed {
  transition: .3s .2s height, .3s 1s width, 0 2.5s visibility;
}

#lightbox.open {
  height: 90em;
  visibility: visible;
  transition: .3s width, .3s .6s height;
}

.zoom-info {

  display: none;

@include respond-to(hover) { 
  display: block;
  text-align: center;
  position: absolute;
  top: 5%;
  left: 6%;
  color: #eee;
  opacity: 0;
  width: 90%;
  height: 50%;
  background: transparent;

    p { line-height: 1.2; font-size: .9em; margin-bottom: .5em; }
}

}

.zoom-text {
  padding-top: 1em;
}

.ztext {
  background: $background;
}

.blink {
    opacity:1;  /* make things invisible upon start */
    -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
    -moz-animation:fadeIn ease-in 1;
    animation:fadeIn ease-in 1;

    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    animation-direction: alternate;
 
    -webkit-animation-duration:1.25s;

    -webkit-animation-iteration-count: 4;
    -moz-animation-iteration-count: 4;
    animation-iteration-count: 4;
}

@-webkit-keyframes fadeIn { from { opacity:1; } to { opacity:0; } }
@-moz-keyframes fadeIn { from { opacity:1; } to { opacity:0; } }
@keyframes fadeIn { from { opacity:1; } to { opacity:0; } }

.contact-sketch {
/*-webkit-animation: contact 2s steps(10, end) 1 forwards;
-webkit-animation-fill-mode: forwards;
-webkit-animation-direction: reverse; */
background-image: url("../img/jay-photo.jpg");
  width: 500px;
  height: 342px;
  background-repeat: no-repeat;
  float: right;

  @include respond-to(medium-screens) { 
    float: none;
    margin: 0 auto;
  }

  @include respond-to(little-screen) { 
    width: 280px;
    height: 180px;
    background-size: 280px;
  }
}

@-webkit-keyframes contact {
   from { background-position: 0; }
     to { background-position: 5000px; }
}
