p {
	font-weight: 300;
	font-size: 1.05em;
	line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 { }

h1 {
	font-weight: 500;
	font-size: 3.5em;

	@include respond-to(medium-screens) { 
		font-size: 2.5em;
	}

	@include respond-to(little-screen) { 
		font-size: 2.5em;
	}

	@include respond-to(tiny-screen) { 
		font-size: 1.8em;
	}
}

h2 {
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.25;
}

h3 {
	font-size: 1.618em;
	text-transform: uppercase;
	font-weight: 700;
}

.title {
	text-transform: none;
	font-size: 1.25em;
	font-weight: 100;
}

.lead {
	text-transform: none;
	font-size: 1.5em;
	font-weight: 100;
}

.intro {
	font-size: 1.1em;
	line-height: 1.618;
}

h4 {
	font-size: 3em;
	font-family: "brandon-grotesque";
	font-weight: 100;
	line-height: 1.618;

	@include respond-to(medium-screens) { 
		font-size: 2em;
	}

	@include respond-to(little-screen) {
		font-size: 1.5em;
		max-width: 390px;
	}

	@include respond-to(tiny-screen) { 
		max-width: 275px;
	}

}

.special { 
	margin-top: 1em; 
	font-size: 3.5em;

	@include respond-to(medium-screens) { 
		font-size: 2.5em;
	}

	@include respond-to(little-screen) {
		font-size: 1.75em; 
	}
}

h5 {
	font-weight: 200;
	font-size: 1.618em;
	text-transform: uppercase;
	line-height: 1.1;
	text-align: right;
}

.head {
	font-weight: 100;
	text-transform: uppercase;
	color: #666;
}

mark {
	background: $red-opac;
	padding: .05em .2em;
}

blockquote {
	font-style: italic;
	padding-left: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	line-height: 1.3;
}

blockquote:before {
	font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: .25em;
  font-size: .8em;
  position: relative;
  top: -.4em;
  margin-right: -1em;
  right: 1em;
	 content: "q";
}

.middle h4:nth-child(2) {
	color: darken($color-second, 30%);
}

.middle h4:nth-child(3) {
	color: darken($color-second, 20%);
}

.middle h4:nth-child(4) {
	color: darken($color-second, 10%);
}

.middle h4:nth-child(5) {
	color: $color-second;
	
}

a:hover .caption {
	color: $color-second;
}

.caption {
	font-weight: 100;
	font-size: .95em;
	margin-left: 13.2em;
	margin-top: -1.3em;

	@include respond-to(medium-screens) { 
		font-size: .8em;
		margin-left: 8em;
	}

	@include respond-to(little-screen) { 
		margin-left: 5em;
		marign-top: -1em;
	}

	@include respond-to(tiny-screen) { 
		margin-top: .5em;
		margin-left: 0;
	}
}